@font-face {
  font-family: FontAwesome;
  src: url(https://hassan-jaber.github.io/rasin/assets/fonts/fontawesome-webfont.eot?v=4.7.0);
  src: url(https://hassan-jaber.github.io/rasin/assets/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0)
      format("embedded-opentype"),
    url(https://hassan-jaber.github.io/rasin/assets/fonts/fontawesome-webfont.woff2?v=4.7.0)
      format("woff2"),
    url(https://hassan-jaber.github.io/rasin/assets/fonts/fontawesome-webfont.woff?v=4.7.0)
      format("woff"),
    url(https://hassan-jaber.github.io/rasin/assets/fonts/fontawesome-webfont.ttf?v=4.7.0)
      format("truetype"),
    url(https://hassan-jaber.github.io/rasin/assets/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular)
      format("svg");
  font-weight: 400;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: 0.2em 0.25em 0.15em;
  border: solid 0.08em #eee;
  border-radius: 0.1em;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-user:before {
  content: "\f007";
}
.fa-home:before {
  content: "\f015";
}
.fa-font:before {
  content: "\f031";
}
.fa-bold:before {
  content: "\f032";
}
.fa-text-height:before {
  content: "\f034";
}
.fa-text-width:before {
  content: "\f035";
}
.fa-align-left:before {
  content: "\f036";
}
.fa-align-center:before {
  content: "\f037";
}
.fa-align-right:before {
  content: "\f038";
}
.fa-align-justify:before {
  content: "\f039";
}
.fa-image:before {
  content: "\f03e";
}
.fa-phone:before {
  content: "\f095";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-group:before {
  content: "\f0c0";
}
.fa-link:before {
  content: "\f0c1";
}
.fa-files-o:before {
  content: "\f0c5";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-user-md:before {
  content: "\f0f0";
}
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}
.fa-info:before {
  content: "\f129";
}
.fa-html5:before {
  content: "\f13b";
}
.fa-css3:before {
  content: "\f13c";
}
.fa-toggle-right:before {
  content: "\f152";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-toggle-left:before {
  content: "\f191";
}
.fa-google:before {
  content: "\f1a0";
}
.fa-header:before {
  content: "\f1dc";
}
.fa-copyright:before {
  content: "\f1f9";
}
.fa-whatsapp:before {
  content: "\f232";
}
.fa-500px:before {
  content: "\f26e";
}
.fa-snapchat:before {
  content: "\f2ab";
}
.fa-fa:before,
.fa-font-awesome:before {
  content: "\f2b4";
}
.fa-envelope-open:before {
  content: "\f2b6";
}
.fa-envelope-open-o:before {
  content: "\f2b7";
}
.fa-user-o:before {
  content: "\f2c0";
}
.fa-id-card:before {
  content: "\f2c2";
}
.fa-id-card-o:before {
  content: "\f2c3";
}
.fa-s15:before {
  content: "\f2cd";
}
a,
big,
body,
center,
div,
font,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
li,
nav,
p,
q,
s,
section,
small,
span,
strong,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
li,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer,
header,
nav,
section {
  display: block;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@font-face {
  font-family: NeoSansArabic;
  font-display: swap;
  src: url(https://hassan-jaber.github.io/rasin/font/NeoSansArabic.ttf);
}
body,
html {
  font-family: NeoSansArabic, sans-serif !important;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-bottom: 0;
}
body,
html {
  background: #fff;
}
::selection {
  background: #47533b;
  color: #fff;
}
::-moz-selection {
  background: #ff589e;
  color: #fff;
}
.section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 80px;
}
.hr {
  bottom: 0;
  width: 100%;
  height: 1px;
  margin-top: 100px;
  border-bottom: 1px solid #eee;
}
.left-heading .section-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 42px;
  color: #47533b;
  margin-bottom: 30px;
  position: relative;
  text-align: right;
}
.manager {
  text-align: right;
  margin-bottom: 30px;
  color: #46533b;
  font-weight: 700;
}
.center-heading {
  text-align: center;
}
.center-heading .section-title {
  font-weight: 500;
  font-size: 28px;
  color: #1e1e1e;
  line-height: 38px;
  margin-bottom: 20px;
}
.center-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #777;
  line-height: 28px;
  margin-bottom: 50px;
}
.center-text p {
  font-size: 15px;
  color: #777;
  margin-bottom: 30px;
}
.left-text {
  font-weight: 500;
  font-size: 17px;
  color: #000;
  line-height: 35px;
  text-align: right !important;
}
.left-text p {
  margin-bottom: 30px;
}
.padding-bottom-top-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
.padding-bottom-80 {
  padding-bottom: 80px !important;
}
.padding-bottom-100 {
  padding-bottom: 100px !important;
}
.border-bottom {
  border-bottom: 1px solid #eee !important;
}
.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}
.align-self-bottom {
  -ms-flex-item-align: flex-end !important;
  align-self: flex-end !important;
}
.padding-bottom-0 {
  padding-bottom: 0 !important;
}
.padding-top-0 {
  padding-top: 0 !important;
}
.padding-top-80 {
  padding-top: 80px !important;
}
.padding-top-70 {
  padding-top: 70px !important;
}
.padding-top-20 {
  padding-top: 20px !important;
}
.margin-bottom-0 {
  margin-bottom: 0 !important;
}
.margin-bottom-30 {
  margin-bottom: 30px !important;
}
.margin-top-30 {
  margin-top: 30px !important;
}
.margin-top-15 {
  margin-top: 15px !important;
}
.margin-bottom-45 {
  margin-bottom: 45px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.margin-bottom-60 {
  margin-bottom: 60px !important;
}
.margin-bottom-100 {
  margin-bottom: 100px !important;
}
@media (max-width: 991px) {
  body,
  html {
    overflow-x: hidden;
  }
  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}
a.main-button-slider {
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #ff589e;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
a.main-button-slider:hover {
  background-color: #8261ee;
}
a.main-button {
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #8261ee;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
a.main-button:hover {
  background-color: #ff589e;
}
button.main-button {
  outline: 0;
  border: none;
  cursor: pointer;
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #8261ee;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
button.main-button:hover {
  background-color: #ff589e;
}
.header-area {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 100;
  height: 100px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header-area .main-nav {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  min-height: 80px;
  background: #fff;
}
.header-area .main-nav .logo {
  float: left;
  margin-top: 37px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-left: 30px;
}
.header-area .main-nav .logo img {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header-area .main-nav .nav {
  float: right;
  margin-top: 27px;
  margin-right: 0;
  margin-right: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}
.header-area .main-nav .nav li {
  padding-left: 20px;
  padding-right: 20px;
}
.header-area .main-nav .nav li:last-child {
  padding-right: 0;
}
.header-area .main-nav .nav li a {
  display: block;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
}
.header-area .main-nav .nav li a:hover {
  color: #dbb98d;
}
.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}
.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:after,
.header-area .main-nav .menu-trigger span:before {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #3b566e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}
.header-area .main-nav .menu-trigger span:after,
.header-area .main-nav .menu-trigger span:before {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #3b566e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}
.header-area .main-nav .menu-trigger span:after,
.header-area .main-nav .menu-trigger span:before {
  content: "";
}
.header-area .main-nav .menu-trigger span {
  top: 16px;
}
.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}
.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}
.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:after,
.header-area .main-nav .menu-trigger.active span:before {
  background-color: transparent;
  width: 100%;
}
.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #3b566e;
}
.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #3b566e;
}
.header-area.header-sticky {
  min-height: 80px;
}
.header-area.header-sticky .logo {
  margin-top: 15px;
}
.header-area.header-sticky .nav {
  margin-top: 20px !important;
}
.header-area.header-sticky .nav li a {
  color: #1e1e1e;
}
.header-area.header-sticky .nav li a.active {
  color: #dbb98d;
}
@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}
@media (max-width: 991px) {
  .header-area {
    padding: 0 15px;
    height: 80px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0;
  }
  .header-area .logo {
    margin-top: 15px !important;
    margin-left: 30px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    margin-top: 80px !important;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-right: 0;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0 !important;
    border: none !important;
    background: #fff !important;
    color: #3b566e !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #eee !important;
  }
}
@media (min-width: 992px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}
.welcome-area {
  position: relative;
  background-color: #46523a;
  background-image: url(https://hassan-jaber.github.io/rasin/assets/images/h.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-position: 50% 80px;
  width: 100%;
  height: 100vh;
}
.welcome-area .header-text {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  text-align: center;
  width: 100%;
}
.rasin-office {
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100vh - 60px);
}
.welcome-area .header-text h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 30px;
  color: #fff;
}
.welcome-area .header-text p {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  line-height: 28px;
  margin-bottom: 40px;
  position: relative;
}
@media (max-width: 991px) {
  .welcome-area .header-text {
    top: 65% !important;
    transform: perspective(1px) translateY(-60%) !important;
    text-align: center;
  }
  .welcome-area .header-text h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
  }
  .welcome-area .header-text h1 span {
    color: #fff;
  }
  .welcome-area .header-text p {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
  }
}
@media (max-width: 820px) {
  .welcome-area .header-text {
    top: 65% !important;
    transform: perspective(1px) translateY(-60%) !important;
  }
  .welcome-area .header-text h1 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .welcome-area .header-text p {
    margin-bottom: 20px;
  }
}
@media (max-width: 765px) {
  .welcome-area {
    margin-bottom: 100px;
  }
  .welcome-area .header-text {
    top: 50% !important;
    transform: perspective(1px) translateY(-50%) !important;
    text-align: center;
  }
  .welcome-area .header-text h1 {
    font-weight: 600;
    font-size: 24px !important;
    line-height: 30px !important;
    margin-bottom: 30px !important;
  }
  .welcome-area .header-text h1 span {
    color: #fff;
  }
  .welcome-area .header-text p {
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 40px;
  }
  .rasin-office {
    width: 90%;
  }
  .welcome-area {
    background-position: center center;
  }
  .rasin-office {
    top: calc(100vh - 148px);
  }
}
@media (max-width: 576px) {
  .welcome-area {
    height: 60vh;
  }
}
#features {
  margin-top: 100px;
}
.features-small-item {
  cursor: pointer;
  display: block;
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  margin-bottom: 30px;
}
video {
  max-width: 100%;
  height: auto;
}
.features-small-item .features-title {
  font-weight: 500;
  font-size: 18px;
  color: #46533b;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
}
.manager-img,
.why-rasin {
  max-width: 100%;
  border-radius: 4px;
}
.features-small-item p {
  font-weight: 400;
  font-size: 13px;
  color: #777;
  line-height: 25px;
  position: relative;
  z-index: 2;
}
.features-small-item a {
  float: right;
  position: relative;
  z-index: 2;
}
.home-feature {
  padding-bottom: 0;
  padding-top: 30px;
  margin-top: -220px;
  z-index: 9;
}
@media (max-width: 991px) {
  .home-feature {
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
  }
}
.mini {
  min-height: 215px;
  overflow: hidden;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
}
.mini:before {
  content: "";
  position: absolute;
  width: 140%;
  height: 140%;
  opacity: 0.95;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(https://hassan-jaber.github.io/rasin/assets/images/header-bg.png);
  z-index: 2;
  top: -20%;
  left: -20%;
}
.mini .mini-content {
  position: relative;
  z-index: 3;
}
.mini .mini-content .info {
  text-align: center;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.mini .mini-content .info small {
  display: block;
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 5px;
}
.mini .mini-content .info strong {
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 40px;
  display: block;
}
.mini .mini-content .info h1 {
  text-align: center;
  color: #dbb98d;
  margin-bottom: 60px;
}
.mini .mini-content .info p {
  margin-bottom: 40px;
  color: #fff;
  line-height: 26px;
  font-weight: 400;
  font-size: 15px;
}
.mini .mini-content .info p span {
  text-decoration: underline;
}
.mini-box span {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 !important;
  margin: 0 !important;
  width: 45px;
  height: 45px;
  color: red;
  opacity: 1;
  color: #ff0 !important;
}
.mini-box span::before {
  content: "";
  width: 45px;
  height: 45px;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.15;
  z-index: -9999;
}
.mini .mini-content .mini-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  margin: 45px auto;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
}
.mini .mini-content .mini-box:hover {
  margin-top: -10px;
}
.mini .mini-content .mini-box:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #fff;
  width: 100%;
  opacity: 0.15;
  height: 100%;
  bottom: -10px;
  left: 0;
  right: -20px;
  margin: auto;
  border-radius: 20px;
}
.mini .mini-content .mini-box i {
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
}
.mini .mini-content .mini-box span {
  display: block;
  font-weight: 400;
  font-size: 14px;
  color: #777;
}
.mini .mini-content .mini-box strong {
  display: block;
  font-weight: 400;
  font-size: 17px;
  color: #1e1e1e;
  margin-bottom: 5px;
  margin-top: 20px;
}
@media (max-width: 991px) {
  .parallax {
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: auto;
  }
  .parallax .content {
    position: relative !important;
    top: 0 !important;
    transform: perspective(1px) translateY(0) !important;
  }
}
.countries-of-employment,
.our-services {
  margin-bottom: 100px;
  width: 100%;
  position: relative;
}
.countries-of-employment > :first-child,
.form-contact > :first-child,
.our-services > :first-child {
  text-align: center;
  color: #47533b;
  margin-bottom: 60px;
  font-size: 42px;
}
.countries-of-employment .cards {
  width: 300px;
  height: 300px;
  border: none;
  perspective: 500px;
  margin: 0 auto 200px auto;
}
.our-services .cards {
  margin-bottom: 200px;
  width: 300px;
  height: 300px;
  border: none;
  perspective: 500px;
}
.countries-of-employment .back > ul li {
  list-style: none !important;
}
.li-title {
  font-size: 28px;
  font-weight: 700;
}
.card-services-content {
  position: absolute;
  width: 350px;
  min-height: 430px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}
.content {
  position: absolute;
  width: 260px;
  min-height: 430px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}
.cards:hover .card-services-content,
.cards:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}
.card-one {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.back,
.front {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #435438;
  color: #dbb98d;
  border-radius: 5px;
  backface-visibility: hidden;
}
.front {
  text-align: center;
  font-size: 25px;
  line-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back {
  background: #4f5d46;
  color: #dbb98d;
  transform: rotateY(180deg);
  text-align: right;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back ul {
  padding: 20px 5px;
}
.back ul li {
  list-style: circle !important;
}
@media (max-width: 768px) {
  .cards {
    width: 100%;
    margin: 30px auto;
    position: relative;
    transform-origin: center center;
  }
  .cards .content {
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center center;
  }
  .cards:hover .content {
    left: 50%;
    transform: translateX(-50%) rotateY(180deg);
    transition: transform 0.5s;
  }
}
@media (min-width: 992px) and (max-width: 1119px) {
  .content {
    width: 225px;
  }
}
.card-services .cards .card-services-content {
  width: 260px;
  min-height: 430px;
}
#recruitment-requirements {
  text-align: right;
  margin-top: 100px;
}
.recruitment-requirements-h1 {
  text-align: center;
  color: #47533b;
  margin-bottom: 50px;
}
.btn-link {
  text-decoration: none !important;
  color: #4f5b44;
}
.card-body {
  padding-right: 30px;
}
.card-body ul {
  padding-right: 20px;
}
.card-body ul li {
  margin: 10px 0;
}
#collapseFive .card-body ul li,
#collapseFour .card-body ul li,
#collapseOne .card-body ul li,
#collapseTwo .card-body ul li {
  list-style: decimal;
}
#collapseEight .card-body ul li,
#collapseNine .card-body ul li,
#collapseSix .card-body ul li,
#collapseThree .card-body ul li {
  list-style: disc;
}
.company-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company-content {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}
.company-card {
  width: 550px;
  height: 450px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}
.company-card h1 {
  text-align: center;
}
.company-card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: #dbdad6;
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}
.company-card.green .additional {
  background: linear-gradient(#92bca6, #a2ccb6);
}
.company-card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}
.company-card:hover .additional .user-card {
  margin: 0 auto;
  width: 350px;
  height: 350px;
  transition: 0.3s;
}
.company-card .additional .user-card {
  width: 150px;
  height: 150px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0, 0, 0, 0.025);
}
.musaned {
  padding: 0 0.5rem;
}
.musaned-h1 > h1 {
  color: #58abc8 !important;
}
.company-card .additional .user-card svg {
  top: 50%;
}
.company-card .general {
  width: 70%;
  height: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  text-align: right;
}
.company-card .general h1 {
  color: #47533b;
  margin-bottom: 1rem;
}
@media (max-width: 1200px) {
  .company-card {
    width: 450px;
    height: 500px;
  }
  .company-card .general {
    width: 65%;
  }
}
@media (max-width: 922px) {
  .company-card-container {
    flex-direction: column;
    width: 100%;
  }
  .company-card {
    width: 100%;
    height: 500px;
  }
  .company-card .general {
    width: 70%;
  }
}
@media (max-width: 576px) {
  .company-card {
    height: 600px;
  }
  .company-card .additional {
    top: 0;
    width: 100%;
    height: 100px;
  }
  .company-card .general {
    margin-top: 100px;
    width: 100%;
    text-align: center;
  }
  .company-card .additional .user-card {
    margin: 0 auto;
  }
  .company-card:hover .additional {
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }
  .btn-link {
    font-size: 14px;
    padding-left: 0;
  }
}
section {
  padding: 100px 0;
}
.shadow3 {
  background-image: url(http://www.commixturesoft.com/img/shadow3.png);
  background-repeat: no-repeat;
}
.height125 {
  height: 125px;
}
h2 {
  font-size: 36px;
}
.social-overlap {
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
}
.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.social-bar {
  display: flex;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 60px rgba(93, 70, 232, 0.15);
  border: 1px solid#ebe9e9;
}
.iconpad {
  padding: 12px 0;
  width: 100%;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.process-scetion .slider-nav-item {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 50%;
  text-align: center;
  background: #fff;
  cursor: pointer;
  transition: all 0.4s ease;
}
.social-icons a {
  border-radius: 50px;
  color: #3f345f;
  display: inline-block;
  line-height: 52px;
  height: 50px;
  width: 50px;
  box-shadow: 0 5px 25px rgba(93, 70, 232, 0.15);
  margin: 15px 15px;
  font-size: 22px;
}
a {
  text-decoration: none !important;
  color: #3f345f;
  transition: all 0.3s ease 0s;
}
.slider-nav-item:before {
  position: absolute;
  content: "";
  height: calc(100% + 16px);
  width: calc(100% + 16px);
  top: -8px;
  left: -8px;
  border-radius: 50%;
  border: 1px solid rgba(132, 132, 164, 0.35);
  animation: 1.5s linear 0s normal none infinite focuse;
}
.slider-nav {
  display: flex;
}
.process-scetion .slider-nav-item {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 50%;
  text-align: center;
  background: #fff;
  cursor: pointer;
  transition: all 0.4s ease;
}
.slider-nav-item:before {
  position: absolute;
  content: "";
  height: calc(100% + 16px);
  width: calc(100% + 16px);
  top: -8px;
  left: -8px;
  border-radius: 50%;
  border: 1px solid rgba(132, 132, 164, 0.35);
  animation: 1.5s linear 0s normal none infinite focuse;
}
.process-scetion .slider-nav-item:nth-child(2) {
  color: #40beff;
}
.process-scetion .slider-nav-item:nth-child(3) {
  color: #311f9b;
}
.process-scetion .slider-nav-item:nth-child(4) {
  color: #ff9259;
}
.process-scetion .slider-nav-item:nth-child(5) {
  color: #38385f;
}
.process-scetion .slider-nav-item:after {
  position: absolute;
  top: 50%;
  left: 100%;
  height: 2px;
  content: "";
  width: 100%;
  background: url(http://demo.themenio.com/ico/assets/images/line.png) repeat 0
    0;
  z-index: 0;
  animation: slide 1s linear infinite;
}
.process-scetion .slider-nav-item:last-child:after {
  display: none;
}
.process-scetion .slider-nav-item.active:before {
  position: absolute;
  content: "";
  height: calc(100% + 16px);
  width: calc(100% + 16px);
  top: -8px;
  left: -8px;
  border-radius: 50%;
  border: 1px solid rgba(132, 132, 164, 0.35);
  animation: 1.5s linear 0s normal none infinite focuse;
}
.whatsapp {
  color: #25d366 !important;
}
.phone {
  color: #537fe7 !important;
}
.phone > svg {
  transform: rotate(333deg);
}
.twitter {
  color: #00acee !important;
}
.instagram {
  color: #c13584 !important;
}
.snapchat {
  color: #f7f400 !important;
}
@keyframes focuse {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  75% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
.shadow-img1 {
  background-image: url(https://hassan-jaber.github.io/rasin/assets/img/shadow.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.shadow-img2 {
  background-position: bottom;
  background-image: url(https://hassan-jaber.github.io/rasin/assets/img/shadow2.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.slider-nav-item:after {
  position: absolute;
  top: 50%;
  left: 100%;
  height: 2px;
  content: "";
  width: 100%;
  background: url(https://1.bp.blogspot.com/--Btu5p654jU/XYmrVd5IcYI/AAAAAAAATQ0/4bX8aZyFBgApbJUf90KrpCfO6RvAaZ6LgCLcBGAsYHQ/s1600/line.png)
    repeat 0 0;
  z-index: 0;
  animation: slide 1s linear infinite;
}
.mt100 {
  margin-top: 100px;
}
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.social-bar a:hover i {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}
.section-title h2 {
  color: #47533b;
}
@media only screen and (max-width: 300px) {
  .process-scetion .slider-nav-item {
    height: 30px;
    width: 30px;
    margin: 15px 10px;
    line-height: 28px;
  }
}
@media (max-width: 576px) {
  .section-title h2 {
    font-size: 25px;
  }
}
.location {
  margin-top: 100px;
}
.location h1 {
  text-align: center;
  color: #47533b;
  margin-bottom: 60px;
}
iframe {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}
footer {
  background: #4f5b44;
  padding-top: 30px;
}
.footer-title {
  text-align: right;
  color: #dbb98d;
  margin-bottom: 30px;
}
.social-ul li {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.social-ul li > :last-child {
  padding-right: 15px;
  margin-bottom: 0;
  color: #dbb98d;
}
.social-ul li > :first-child {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .copyright {
  text-align: center;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  footer .text {
    margin-bottom: 30px;
  }
  footer h5 {
    margin-bottom: 15px;
  }
  footer .footer-nav {
    margin-bottom: 30px;
  }
}
#preloader {
  overflow: hidden;
  background-image: linear-gradient(135deg, #a759d1 0, #8261ee 100%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
  color: #fff;
}
#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}
#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}
#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}
#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}
@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.form-contact-btn {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #dbb98d;
  background-color: #47533b;
  border-radius: 6px;
  margin-top: 20px;
}
.form-contact-btn:hover {
  color: #dbb98d;
}
.form-contact {
  margin-bottom: 100px;
}
form {
  padding: 30px 10px;
}
input[type="email"],
input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #47533b;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  background-color: #47533b;
  color: #dbb98d;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #45a049;
}
.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="submit"] {
  width: 110px;
  margin: 0 auto;
}
input[type="submit"]:hover {
  background-color: #47533b;
}
.form-contact-container {
  border-radius: 5px;
  padding: 20px;
}
.collapseTen-btns-group-1,
.collapseTen-btns-group-2,
.musaned-btns {
  width: 430px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.collapseTen-btns-group-1 > :first-child,
.collapseTen-btns-group-1 > :nth-child(2),
.collapseTen-btns-group-2 > :first-child,
.collapseTen-btns-group-2 > :nth-child(2),
.musaned-btns > :first-child,
.musaned-btns > :nth-child(2) {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #dbb98d;
  background-color: #47533b;
  border-radius: 6px;
  margin-top: 20px;
}
.collapseTen-btns-group-1 > :first-child,
.collapseTen-btns-group-1 > :nth-child(2),
.collapseTen-btns-group-2 > :first-child,
.collapseTen-btns-group-2 > :nth-child(2) {
  margin-bottom: 15px;
}
.collapse-btn-two,
.collapse-eight-btn,
.collapse-eleven-btn,
.collapse-nine-btn,
.collapse-three-btn {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #dbb98d;
  background-color: #47533b;
  border-radius: 6px;
  margin-top: 20px;
}
.collapse-btn-two:hover,
.collapse-eight-btn:hover,
.collapse-eleven-btn:hover,
.collapse-nine-btn:hover,
.collapse-three-btn:hover,
.musaned-btns > :first-child:hover,
.musaned-btns > :nth-child(2):hover {
  color: #dbb98d;
}
.collapse-three-btn {
  border: none;
}
.collapse-three-btn:hover {
  color: #dbb98d;
}
@media (max-width: 576px) {
  .collapseTen-btns-group-1,
  .collapseTen-btns-group-2,
  .musaned-btns {
    width: 100%;
    flex-direction: column;
  }
  .content {
    width: 350px;
  }
}

.page-footer{
  width: 100%;
  background: #4f5b44;
  padding-top: 30px;
}
.page-footer-title{
  color: #dbb98d;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: right;
}
.ul-footer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.li-footet{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.icon__footer{
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.li-footet>:last-child{
  padding-right: 15px;
  color: #dbb98d;
}
.copy-r{
    text-align: center;
    border-top: 1px solid rgba(250, 250, 250, 0.2);
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}